# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.db
.coverage
.tox/
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.pyre/

# static build artifacts
*.o
*.pyd
*.dylib

# local Docker images and volumes
*.tar
db.sqlite3
.env
models/
artifacts/

# system files
*.DS_Store
Thumbs.db.venv
__pycache__/
.DS_Store
